// size vars
$huge-text: 80px;
$super-text: 62px;
$main-text: 47px;
$great-text: 40px;
$big-text: 30px;
$xxl-text: 24px;
$xl-text: 20px;
$l-text: 18px;
$m-text: 16px;
$s-text: 14px;
$xs-text: 13px;
$tiny-text: 12px;

// weights vars
$text-bold: 800;
$semi-bold: 600;
$default-plus: 500;
$default-w: normal; //same of 400
$light-w: 300;

// text color vars
$bright-text: #27282a;
$dark-text: #000;